<div class="drf-container px-4 py-20 flex flex-col h-full pt-6">
  <h1 class="font-bold text-3xl lg:text-6xl text-center mb-6">
    Multi Step Form
  </h1>

  <h3 class="font-bold text-xl lg:text-3xl text-center mb-6 lg:mb-12">
    Step {{ currentStep + 1 }} -
    {{ multiStepControl[currentStep].stepName }}
  </h3>

  <drf-dynamic-form
    [dynamicForm]="multiStepControl[currentStep].dynamicFormControl"
    (formGroupCreated)="formGroupCreatedHandler($event)"
  ></drf-dynamic-form>

  @if (formGroup) {
  <button
    type="button"
    class="submit-button"
    [ngClass]="{ invalid: formGroup.invalid }"
    (click)="submitClickHandler()"
  >
    Submit
  </button>
  }
</div>
