<div class="drf-container px-4 py-20 flex flex-col h-full pt-8">
  <h1 class="font-bold text-3xl lg:text-6xl text-center mb-16">Simple Form</h1>

  <drf-input
    class="mb-6"
    inputTitle="Your name"
    inputId="name"
    inputType="text"
    [formControl]="name"
  ></drf-input>

  <drf-checkbox-list
    inputTitle="Your skills"
    [choiceList]="[
      {
        id: 'angular',
        value: 'angular',
        description: 'Angular'
      },
      {
        id: 'react',
        value: 'react',
        description: 'React'
      }
    ]"
    [formControl]="skills"
  >
  </drf-checkbox-list>

  <br /><br />
  Value: {{ formGroup.value | json }}
  <br />
  Status: {{ formGroup.status | titlecase }} and
  {{ formGroup.pristine ? "Pristine" : "Dirty" }}
</div>
