<div class="drf-container px-4 py-6 flex flex-col h-full justify-center">
  <h1 class="font-bold text-3xl lg:text-5xl text-center mb-6 lg:mb-12">
    Welcome to this demo!
  </h1>

  <div class="text-center text-lg lg:text-xl">
    <div class="balance mb-4">
      You can test the following
      <span class="font-semibold">Dynamic Reactive Forms</span>:
    </div>

    <ul class="mb-12 lg:mb-16 text-2xl lg:text-3xl">
      <li class="mb-2">
        <a routerLink="../simple-form" class="link mb-4"> Simple Form </a>
      </li>
      <li>
        <a routerLink="../multi-step-form" class="link"> Multi Step Form </a>
      </li>
    </ul>

    <span>This demo was also shown at</span>
    <a
      href="https://2023.ngrome.io/"
      target="_blank"
      class="flex flex-col lg:flex-row justify-center items-center font-semibold text-4xl pt-2 mb-12 lg:mb-16 text-transparent"
    >
      <img src="assets/images/ng-rome.svg" alt="ngRome" />
      <span
        class="bg-clip-text h-[46px] lg:ml-2 mt-2 lg:mt-0 bg-gradient-to-r from-red-600 via-pink-500 to-purple-600"
      >
        Summit 2023
      </span>
    </a>

    <span>
      You can find the source code
      <a [href]="gitHubUrl" target="_blank" class="link">here</a>.
    </span>
  </div>
</div>
